<p><h2>Discount Name:</h2> <%= @discount.name %></p><br>
<p><h2>Percentage_Off:</h2> <%= @discount.percent_off %></p>
<br>
<p><h2>Items Needed To Apply Discount:</h2> <%= @discount.minimum_items %></p>
